.busqueda-container {
    display: flex;
    justify-content: center;     
    margin: 20px 0;               
    gap: 10px;                   
}

.busqueda-input {
    padding: 10px 15px;
    border-radius: 25px;          
    border: 1px solid #ccc;      
    width: 300px;                 
    font-size: 14px;
    outline: none;                  
}

.busqueda-boton {
    padding: 10px 15px;
    border-radius: 50%;            
    border: none;
    background-color: #1E90FF;     
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.busqueda-boton .icono-lupa {
    width: 16px;
    height: 16px;
}
