/*admin-layout.css*/
/* Estilos del menú de navegación */
.nav-item {
  color: #d3d3d3;
  text-decoration: none;
  padding: 10px 15px;
  border-left: 5px solid transparent;
  margin-bottom: 5px;
  transition: all 0.3s ease;
}

.nav-item:hover {
  background-color: #1e90ff; /* Fondo celeste */
  color: #ffffff; /* Letra blanca al hacer hover */
}

.nav-item.active {
  color: #ffffff !important;
  background-color: #1e90ff; /* Fondo celeste cuando está activo */
  border-left: 5px solid #1e90ff;
  font-weight: bold;
}

/* Estilos para el sidebar */
.sidebar {
  width: 220px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  border-right: 1px solid #ffffff;
  position: fixed; /* Sidebar fijo */
  top: 0;
  left: 0;
  bottom: 0; /* Asegura que cubra toda la altura */
  z-index: 100; /* Para que esté encima del contenido */
}

/* Contenedor principal */
.admin-app {
  display: flex;
  font-family: "Roboto", sans-serif;
  background-color: #000000;
  color: #ffffff;
  min-height: 100vh;
  flex-direction: row;
  margin-left: 220px; /* Ajusta para que el contenido no se cubra por el sidebar */
  box-sizing: border-box;
}

/* La parte principal del contenido */
.main {
  flex: 1;
  padding: 20px 30px;
  overflow: hidden;
  margin-top: 0; /* Elimina el espacio innecesario */
}

/* Ajustes para cuando no hay espacio suficiente en el contenido */
@media (max-width: 768px) {
  .admin-app {
    flex-direction: column; /* En pantallas pequeñas, el contenido se apila */
    margin-left: 0; /* El sidebar se apila encima en pantallas pequeñas */
  }

  .sidebar {
    position: static; /* El sidebar no es fijo en pantallas pequeñas */
    width: 100%; /* Se adapta al ancho de la pantalla */
    margin-bottom: 10px; /* Añadimos un poco de espacio debajo del sidebar */
  }
}
